<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./layui/css/layui.css" media="all">
</head>
<style>
    .blockStyle {
        width: 100px;
        height: 100px;
        border: 1px solid #1E9FFF;
    }

</style>
<body>
<div class="layui-tab" lay-filter="demo" lay-allowClose="true">
    <ul class="layui-tab-title">
        <li class="layui-this">网站设置</li>
        <li>商品管理</li>
        <li>订单管理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">内容1</div>
        <div class="layui-tab-item">内容2</div>
        <div class="layui-tab-item">内容3</div>
    </div>
</div>
<span class="layui-breadcrumb" lay-separator="||"></span>
</body>
<script src="./layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

        //一些事件触发
        element.on('tab(demo)', function (data) {
            console.log(data);
        });
    });
</script>

</html>